body,html{
  box-sizing: border-box;
  margin:0px;
  padding: 0%;
  width:100%;
  height:100%;
  box-sizing: border-box;
  
  font-family: serif,Arial;
  background: url('../../public/components/images/bg.jpeg') no-repeat ;
 
  background-size: 100%;
  background-color: rgb(0, 0, 0);
  color:white;
}

.content{
    
    /* ​​​​​​​background-repeat: no-repeat; */
    width:100%;
    float: left;
}
.contents__search{
    float: left;
    /* position: fixed; */
    width:87%;
    border:1px solid rgb(44, 44, 44);
    border-radius:10px;
    min-height:50px;
    padding:10px;
    background-color:rgba(9, 9, 12, 0.741) ;

}
.search__select{
    width:18%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(27, 25, 25);
    color: rgb(246, 237, 224);
    border:1px solid rgb(46, 46, 46);
}
.search__select:active  {
    border:1px solid rgb(27, 25, 25);
    border-radius: 5px;
}

.search__select:hover{
    background-color: rgb(144, 142, 142);
}
.search__startAction{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(154, 224, 103);
    border:1px solid rgb(97, 97, 97);
}
.search__startAction:hover{
    background-color: rgb(224, 103, 103);
}

.content__searchByCharact{
    width:57%;
    margin-top:80x;
    float:left;
    border:1px solid black;
    padding: 17px;
    background-color: rgba(20, 16, 16, 0.741);
    border-radius: 10px;
}
.searchByCharact__label{
    float: left;
    font-size:25px;
}
.searchByCharact__input{
    padding:5px;
    border-radius: 7px;
    float: left;
    margin-top:5px;
}
.content__statistic{
    width:93%;
    float: left;
    margin-top:10px;
    border:1px solid black;
    padding: 10px;
    background-color: rgba(38, 38, 38, 0.926);
}
.content__statistic_row{
    width:40%;
    float: left;
    margin-top:5px;
    border:1px solid black;
    padding: 17px;
    background-color: rgba(31, 31, 31, 0.905);
   
}
.content__container{
    width:95%;
    float: left;
}
.songContainer{
    overflow: auto;
    padding: 10px;
    margin:20px;
    width:28%;
    float:left;
    height:230px;
    background-color: rgba(38, 36, 36, 0.959);

    color:rgb(202, 181, 181);
    padding-bottom: 20px;
}
.songContainer__createComment{
    padding: 5px;
    border-radius: 1px;
    color: white;
    border: 1px solid rgb(68, 68, 68);
    background-color:rgba(20, 16, 16, 0.741); 
}
.songContainer__textarea{
    width:130px;
 
    padding: 5px;
    background-color:rgba(20, 16, 16, 0.741); ;
    border-radius: 1px;
    color:white;
    border:1px solid rgb(36, 35, 35);
}
.songContainer__label{
    /* font-size:27px;
    float: left; */
}
.сontainerSong__inputs{
    margin-top:10px;
    float: left;
    margin-bottom: 5px;
}
.сontainerSong_commentsField{
   
    float: left;
    width:100%;
}
.сontainerSong_commentsContainer{
    min-height:40px;
    max-height:72px;
    float: left;
    width:100%;
    overflow: auto;
    border-top:1px solid rgb(105, 105, 105);
    padding-top:10px ;
}
.comment__user{
    font-weight: bold;
    color:rgb(246, 216, 216);
}
/* полоса прокрутки */
:-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#141414
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#ce6f31bb;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#ec5757;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
}